<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @quiz.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quiz.description %>
</p>

<p>
  <strong>Mark:</strong>
  <%= @quiz.mark %>
</p>

<p>
  <strong>Date:</strong>
  <%= @quiz.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @quiz.time %>
</p>

<p>
  <strong>Status:</strong>
  <%= @quiz.status %>
</p>

<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
